@*@model IEnumerable<RestueantDB.ModelViews.ResturantMV>

@{
    ViewData["Title"] = "GetAllRes";
}

<h1>Get All Resturant</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th ">
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
         
            <th> 
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Add New Resturant </button>
               <a  onclick="ShowInPopUp('@Url.Action("AddNewResturant","Resturant",null,Context.Request.Scheme)','Add New Resturant')" class="btn btn-warning">Add New Resturant </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                 @if(@item.ImageURL != null)
                {  
                    <img class="img-fluid img-thumbnail w-50 " src="@item.ImageURL" alt="Card image cap" data-holder-rendered="true">
                }
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
        
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
 <script src="~/js/site.js"></script>

           @await Html.PartialAsync("_RestPartialView",new ResturantMV())
         <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create new </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
          <form  enctype="multipart/form-data" asp-action="Create">
              
        
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="mb-3">
          <label asp-for="ImgeFile" class="control-label"></label>
          <input class="form-control" type="file" asp-for="ImgeFile">
          <span asp-validation-for="ImgeFile" class="text-danger"></span>
        </div>
     

    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      
      </div>
      </form>
       </div>
    
    </div>
    </div>
  </div>*@